# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
.nyc_output/
coverage/

# production
build/

# css
src/**/*.css

# misc
.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local

# etc
.vscode
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
yarn.lock
